<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roommate Matcher</title>
</head>
<body>
    <div class="landing">
        <div class="header">
            <div class="header_dashboard">
                <h1>
                    Dashboard
                </h1>
                <div class="searchbar">
                    <!-- add filter box -->
                    <input type="text" placeholder="Search..">
                </div>
            </div>
        </div>
    </div>
</body>
</html>